@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
/* @import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/flatpickr.css';
@import 'additional-styles/theme.css'; */

@import "tailwindcss/utilities";

@layer components {
  :root {
    font-family: "Poppins", sans-serif;
    @apply scroll-smooth;
  }
  .bx {
    @apply mx-auto w-[1280px];
  }
  @media (max-width: 1279px) {
    .bx {
      @apply w-full;
    }
  }
  .solution .swiper-wrapper {
    @apply !ease-linear;
  }
  .line1:after {
    background: linear-gradient(
      75deg,
      #fff 23.99%,
      rgba(255, 255, 255, 0.8) 55.95%,
      rgba(255, 255, 255, 0) 75.94%
    );
  }
  .line2:after {
    background: linear-gradient(
      117deg,
      rgba(247, 251, 255, 0.9) 27.63%,
      rgba(255, 255, 255, 0) 95.92%
    );
  }
  .line3:after{
    background: linear-gradient(180deg, #fff 9.7%, rgba(255, 255, 255, 0.2) 100%);
  }
}

@layer utilities {
  .video-mask {
    @apply after:absolute after:inset-0;
  }
}
