.text-renaissance-1{
    background: linear-gradient(90deg, #FFEAB5 0%, #F2A85D 26%, #8052E4 50%, #2E85EA 74.5%, #68EFAE 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}