
@font-face {
  font-family: 'Red Hat Display';
  src: url(./static/RedHatDisplay-VariableFont_wght.ttf) format('truetype-variations');
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: italic;
  src: url(./static/RedHatDisplay-Italic-VariableFont_wght.ttf) format('truetype-variations');
}

@font-face {
  font-family: 'zen-dot';
  src: url(./static/ZenDots-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Syne';
  src: url(./static/Syne-VariableFont_wght.ttf) format('truetype-variations');
}
@font-face {
  font-family: 'sf';
  src: url(./static/SF-Pro-Display-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'sf-bold';
  src: url(./static/SF-Pro-Display-Bold.otf) format('opentype');
}