
@font-face {
  font-family: 'Red Hat Display';
  src: url(./static/RedHatDisplay-VariableFont_wght.ttf) format('truetype-variations');
}

@font-face {
  font-family: 'Red Hat Display';
  font-style: italic;
  src: url(./static/RedHatDisplay-Italic-VariableFont_wght.ttf) format('truetype-variations');
}
