@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
/* @import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/flatpickr.css';
@import 'additional-styles/theme.css'; */

@import "tailwindcss/utilities";
@import "@tbook/share/font/rhd.css";

:root {
  font-family: "Red Hat Display", sans-serif;
}
.swiper-wrapper {
  align-items: center;
}
@layer base {
  svg {
    shape-rendering: auto;
  }
}

@layer components {
  .text-color1 {
    background: linear-gradient(281deg, #904BF6 85.75%, #CF0063 99.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .bx {
    @apply px-4 lg:px-0 lg:w-[1280px] mx-auto;
  }
  .rect-border {
    @apply shadow-d10 rounded lg:rounded-lg;
  }
  .w-page-content{
    @apply w-auto lg:w-[1198px]; 
  }
}

.bg-linear-c-1 {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.75) 0%,
      rgba(255, 255, 255, 0.75) 100%
    ),
    linear-gradient(11deg, #c4b1d8 15.48%, #f4d597 100%);
}

.ant-drawer-content {
  @apply !bg-linear2;
}